

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4%;
  padding-bottom: 3%;
  background-color: #e2e2e2;
}
.links {
  display: flex;
  flex-direction:column;
  margin-right: 10%;
  opacity: 0.7;
}
.links a {
  color: black;
  margin: 10px 0;
  text-decoration: none;
}
.f-phone , .f-email {
  display: flex;
  margin: 10px 0;
}
.f-address i {
  margin-bottom: 8px;
}
.f-address {
  margin-bottom: 15px;
}
.others {
  width: 20%;
  font-size: 17px;
  opacity: 0.7;
}
.others p {
  width: 100%;
}
.others i {
  margin-right: 15px;
}


@media only screen and (max-width: 600px) {
  .form {
    width: 90%;
    padding: 8% 5%;
  }
  .form h4 {
    font-size: 25px;
  }
  .form p {
    font-size: 17px;
  }
  .mail {
    width: 100%;
  }
  footer {
    flex-direction: column;
    padding-top: 20%;
  }
  .links {
    flex-direction: row;
    justify-content:center;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
  }
  .links a {
    margin:10px;
  }
  .others {
    width: 80%;
    margin: 20px auto;

  }
}
